.light-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.light-projects .proj {
    height: 720px;
    width: 1200px;
    border: 1px solid var(--s-color);
    border-radius: 10px;
    margin-top: 20px;
}
.light-projects .proj img {
    margin: 10px 20px;
    width: 80%;
    height: 600px ;
    margin-left: 100px;
}
.light-projects .proj .info {
    margin-left: 38px;
}
.light-projects .proj .info span {
    font-size: 23px;
    color: var(--s-color);
}
.light-projects .proj .info p {
    font-size: 18px;
    color: #aaa;
}
.light-projects .proj .slider-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--s-color);
    gap: 2rem;
}
.light-projects .proj .slider-icons .icon-left , .icon-right {
    cursor: pointer;
    transition: var(--transition);
}
.light-projects .proj .slider-icons .icon-left:hover , .icon-right:hover {
    transform: scale(1.2);
}
@media screen and (max-width:1200px) {
    .light-projects .proj {
        width: 900px;
    }
}
@media screen and (max-width:950px) {
    .light-projects .proj {
        width: 500px;
    }
}